nav {
    background-color: #454545;
}
header {
    background-color: #454545;
}
.small-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover; 
    border-radius: 50%; 
}
.btn {
    background-color: #fc1111; 
    color: white;              
    padding: 10px 15px;         
    border: none;               
    border-radius: 5px;         
    text-decoration: none;      
    display: inline-block;      
    cursor: pointer;            
    transition: background-color 0.3s, box-shadow 0.3s;  
}

.btn:hover {
    background-color: #d41010;
}

.btn:active, .btn:focus {
    background-color: #d41010;
    outline: none;             
    box-shadow: none;          
}
body, header {
    margin: 0;
    padding: 0;
}
.carousel-caption {
    position: absolute;           
    top: 5px;                   
    left: 50%;                   
    transform: translateX(-50%);
    
    color: white;                 
    padding: 10px;               
    border-radius: 5px;          
    background-color: rgba(0, 0, 0, 0.5);           
    max-width: 90%;    
    max-height: 50px;          
    
    text-align: center;           
    overflow: hidden;             
    word-wrap: break-word;   
}

@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 1.2rem;        
    }

    .carousel-caption {
        position: absolute;           
        top: 5px;                   
        left: 50%;                   
        transform: translateX(-50%);
        
        color: white;                 
        padding: 10px;               
        border-radius: 5px;          
        background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
        
        max-width: 90%;              /* Ensure the caption does not exceed 90% of the image width */
        width: auto;                 /* Allow the width to adjust based on content */
        height: auto;                /* Allow the height to adjust based on content */
        
        text-align: center;           
        overflow: hidden;              /* Ensure text doesn't overflow */
        word-wrap: break-word;         /* Allow long words to wrap */
    }
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 1rem;          
    }

    .carousel-caption {
        top: 5px;              
        bottom: auto;         
        padding: 6px;
    }
}

.position-absolute.top-50.start-50.translate-middle.text-center.text-white {
    background-color: rgba(0, 0, 0, 0.5);    
}
