nav {
    background-color: #454545;
}
header {
    background-color: #454545;
}
.small-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover; 
    border-radius: 50%; 
}
body {
    background-color: white !important;
}
.btn {
    background-color: #d41010 !important;
    border: #d41010 !important
}
main {
    background-color: white !important;
}

.btn:hover {
    background-color: #a30505 !important;
}

.btn:active, .btn:focus {
    background-color: #d41010 !important;
    outline: none;             
    box-shadow: none;          
}
body, header {
    margin: 0;
    padding: 0;
}

.position-absolute.top-50.start-50.translate-middle.text-center.text-white {
    background-color: rgba(0, 0, 0, 0.5);    
}
.title{
    text-align: center;
    background-color: #fc1111;
    color:#ffffff;
    padding: 10px;
}
.text-center.p-3.bg-secondary{
    color:#fc1111
}
.custom-footer{
    background-color:#454545;
}
.custom-footer-bottom{
    background-color: #bebdbd;
}
.auth-container {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    padding: 10px; /* Optional: Adds some padding */
  }
  
  /* Styles specifically for the button */
  .auth-btn {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .auth-btn:hover {
    background-color: #5a6268;
  }